/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
1. Từ ngoài vào trong 
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
 */

/* 
1.Vị trí
2.Kích thước(wight, height)
3.Màu sắc
4.Kiểu dáng
*/
#main {
}

#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  /* Bỏ dấu đầu dòng của list */
  list-style-type: none;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}
#nav > li > a {
  color: aliceblue;
  /* sửa thành chữ In */
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: inline-block;
}
#nav > li:hover > a,
#nav .subnav li:hover {
  color: black;
  background-color: #ccc;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav {
  display: none;
  position: absolute;
  min-width: 112px;
  top: 100%;
  left: 0;
  background-color: #fff;
  /* Tạo bóng cho clock */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#header .search-btn {
  float: right;
  line-height: 46px;
  padding: 0 21px;
}
#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}
#header .search-icon {
  font-size: 20px;
  color: #fff;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
#slider .text-heading {
  font-size: 24px;
}
#slider .text-descriptiom {
  margin-top: 25px;
  font-size: 15px;
}
#content {
}

#content .content-section {
  width: 800px;
  padding: 64px 0px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}
#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  opacity: 0.6;
  font-style: italic;
}
#content .about-text {
  margin-top: 25px;
  line-height: 1.6;
}
#footer {
  height: 500px;
}
